<div class="container">
  <header>
    <h1><span>GameFinder</span></h1>
  </header>
  <p>
    Welcome to the GameFinder Portal!
  </p>
  <p>
    If you would like to search for a game, you can do so through the mobile app.
  </p>
  <p>
    To download the APK, please click <a href="#">here</a>.
  </p>
</div>